<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetProduct</servlet-name>
        <servlet-class>controller.GetProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>controller.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductDetails</servlet-name>
        <servlet-class>controller.GetProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReview</servlet-name>
        <servlet-class>controller.GetReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveOrderReview</servlet-name>
        <servlet-class>controller.SaveOrderReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProdReview</servlet-name>
        <servlet-class>controller.SaveProdReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchModifyProduct</servlet-name>
        <servlet-class>controller.SearchModifyProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProduct</servlet-name>
        <url-pattern>/GetProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductDetails</servlet-name>
        <url-pattern>/GetProductDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReview</servlet-name>
        <url-pattern>/GetReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProdReview</servlet-name>
        <url-pattern>/SaveProdReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveOrderReview</servlet-name>
        <url-pattern>/SaveOrderReview</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewReportListServlet</servlet-name>
        <servlet-class>controller.ViewReportListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductSales</servlet-name>
        <servlet-class>controller.SearchProductSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRating</servlet-name>
        <servlet-class>controller.SearchRating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>controller.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrder</servlet-name>
        <servlet-class>controller.SearchOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesRecord</servlet-name>
        <servlet-class>controller.SalesRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOrderDetailsList</servlet-name>
        <servlet-class>controller.LoadOrderDetailsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRating</servlet-name>
        <servlet-class>controller.LoadRating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reviewCategory</servlet-name>
        <servlet-class>controller.reviewCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderCategory</servlet-name>
        <servlet-class>controller.orderCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sortCustomer</servlet-name>
        <servlet-class>controller.sortCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportRetrieve</servlet-name>
        <servlet-class>controller.reportRetrieve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>controller.View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomer</servlet-name>
        <servlet-class>controller.ViewCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>controller.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCheckIdentityStaff</servlet-name>
        <servlet-class>controller.LoadCheckIdentityStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomer</servlet-name>
        <servlet-class>controller.SearchCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSalesRecord</servlet-name>
        <servlet-class>controller.SearchSalesRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaffInformation</servlet-name>
        <servlet-class>controller.SearchStaffInformation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewReportListServlet</servlet-name>
        <url-pattern>/ViewReportListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductSales</servlet-name>
        <url-pattern>/SearchProductSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRating</servlet-name>
        <url-pattern>/SearchRating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrder</servlet-name>
        <url-pattern>/SearchOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesRecord</servlet-name>
        <url-pattern>/SalesRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadOrderDetailsList</servlet-name>
        <url-pattern>/LoadOrderDetailsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRating</servlet-name>
        <url-pattern>/LoadRating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reviewCategory</servlet-name>
        <url-pattern>/reviewCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderCategory</servlet-name>
        <url-pattern>/orderCategory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>controller.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadStaffList</servlet-name>
        <servlet-class>controller.LoadStaffList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaff</servlet-name>
        <servlet-class>controller.SearchStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaff</servlet-name>
        <servlet-class>controller.UpdateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaff</servlet-name>
        <servlet-class>controller.DeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginStaff</servlet-name>
        <servlet-class>controller.loginStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductList</servlet-name>
        <servlet-class>controller.LoadProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductDetailsStaff</servlet-name>
        <servlet-class>controller.GetProductDetailsStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductByName</servlet-name>
        <servlet-class>controller.SearchProductByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStaffDetails</servlet-name>
        <servlet-class>controller.GetStaffDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/AddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadStaffList</servlet-name>
        <url-pattern>/LoadStaffList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaff</servlet-name>
        <url-pattern>/SearchStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaff</servlet-name>
        <url-pattern>/UpdateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaff</servlet-name>
        <url-pattern>/DeleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginStaff</servlet-name>
        <url-pattern>/loginStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductList</servlet-name>
        <url-pattern>/LoadProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductDetailsStaff</servlet-name>
        <url-pattern>/GetProductDetailsStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductByName</servlet-name>
        <url-pattern>/SearchProductByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStaffDetails</servlet-name>
        <url-pattern>/GetStaffDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sortCustomer</servlet-name>
        <url-pattern>/sortCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportRetrieve</servlet-name>
        <url-pattern>/reportRetrieve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomer</servlet-name>
        <url-pattern>/ViewCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/UpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCheckIdentityStaff</servlet-name>
        <url-pattern>/LoadCheckIdentityStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomer</servlet-name>
        <url-pattern>/SearchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSalesRecord</servlet-name>
        <url-pattern>/SearchSalesRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaffInformation</servlet-name>
        <url-pattern>/SearchStaffInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchModifyProduct</servlet-name>
        <url-pattern>/SearchModifyProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homePage.jsp</welcome-file>
    </welcome-file-list>
        <security-constraint>
        <display-name>ManagerConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Manager</web-resource-name>
            <description/>
            <url-pattern>/secureManager/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ManagerRole</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>StaffConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Staff</web-resource-name>
            <description/>
            <url-pattern>/secureStaff/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ManagerRole</role-name>
            <role-name>StaffRole</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/loginStaff.jsp</form-login-page>
            <form-error-page>/loginAgainStaff.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>ManagerRole</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>StaffRole</role-name>
    </security-role>
</web-app>
